<!DOCTYPE html>
<html lang="en">
<head>
  <title>Team Bin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 
 
 
<div class="jumbotron text-center">
  <h1>Team Bin - MLH Prime Regional</h1>
  <p>Cleaning up stuff since 2017. But only when we have to.</p>
</div>
 
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Trash can data</h3>
      <p>Clean Bin aims to maximize efficiency and minimize resources spent when it comes to changing the bags of public garbage bins.</p>
      <br>
      <p id="fbins"></p>
      <p id ="ebins"></p>
    </div>
    <div class="col-sm-8">
      <div id="map" style="width:100%;height:500px;"></div>
    </div>
  </div>
</div>
 
    
    
   
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD2JcSU0JFCPws3GD0yjOBesZVG4Yf2Ris",
    authDomain: "trash-5388a.firebaseapp.com",
    databaseURL: "https://trash-5388a.firebaseio.com",
    projectId: "trash-5388a",
    storageBucket: "trash-5388a.appspot.com",
    messagingSenderId: "401042773208"
  };
  firebase.initializeApp(config);

  var database = firebase.database();
  var emptyCount = 0;
  var fullCount = 0;
      function initMap() {
        var uluru = {lat: 51.52, lng: -0.086};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });       
        var markers = [];
        var starCountRef = database.ref('bins');

        starCountRef.on('value', function(snapshot) {
          console.log(markers.size);
          if(markers.size != 0){
            for(m in markers){
              console.log(markers);
              console.log(m.map);
              m.map = null;
            }
          }
          snapshot.forEach(function (snapChild) {
            if(snapChild.val().isEmpty){
              var icon = {
              path: google.maps.SymbolPath.CIRCLE,
              fillColor: 'green',
              strokeColor: 'green',
              fillOpacity: 1,
              scale: 5
              };
              if(map.getBounds().contains(snapChild.val().geolocation.location)){
                emptyCount++;
              }
              console.log(emptyCount);
            }else{
              var icon = {
              path: google.maps.SymbolPath.CIRCLE,
              fillColor: 'red',
              strokeColor: 'red',
              fillOpacity: 1,
              scale: 5
              };
              if(map.getBounds().contains(snapChild.val().geolocation.location)){
                fullCount++;
              }
            }
            
            var marker = new google.maps.Marker({
            position: snapChild.val().geolocation.location,//{lat: parseFloat(snapChild.val().lat), lng: parseFloat(snapChild.val().long)},
            icon : icon,
            map: map
            });
            markers.push(marker);
            document.querySelector('#ebins').innerHTML = `Number of empty bins: ${emptyCount}`;
            document.querySelector('#fbins').innerHTML = `Number of full bins: ${fullCount}`;
          });
          map.addListener('zoom_changed', function() {
            emptyCount = 0;
            fullCount = 0;
          });
          
        });  
        
      }
    
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh3Ji_jBNmp5cxuzTrqqofoq4vTc_K4y0&callback=initMap">
    </script>
   
</body>
</html>

